<div class="header">
    <div class="container">
        <div>
            <div class="brand-logo">
            </div>
            <div class="dropdown" style="padding-left:20px;display:inline-block">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Browse
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Top Rated Titles</a></li>
                    <li><a href="#">Add a Title</a></li>
                    <li><a href="#">Edit a Title</a></li>
                    <li><a href="#">Delete a Title</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>