<div class="container" ng-controller="CatalogController as catalogVm">
    <div class="row page-header">
        <div class="col-md-6">
            <div class="text-left">
                <h1>Browse</h1>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dropdown pull-right" style="margin-top:25px">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Sort By
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="" ng-click="catalogVm.sortOrder.by='year'; catalogVm.sortOrder.reverse = !catalogVm.sortOrder.reverse;">Year</a></li>
                    <li><a href="" ng-click="catalogVm.sortOrder.by='rating'; catalogVm.sortOrder.reverse = !catalogVm.sortOrder.reverse;">Rating</a></li>
                    <li><a href="" ng-click="catalogVm.sortOrder.by='votes'; catalogVm.sortOrder.reverse = !catalogVm.sortOrder.reverse;">Votes</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-group" style="margin-top:25px">
                <input type="text" class="form-control" placeholder="Search for..." ng-model="searchText">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>

    <div ng-repeat="chunk in catalogVm.titles.slice(((catalogVm.currentPage-1)*catalogVm.itemsPerPage), ((catalogVm.currentPage)*catalogVm.itemsPerPage))" class="row">
        <div ng-repeat="title in chunk | filter:searchText | orderBy: catalogVm.sortOrder.by: catalogVm.sortOrder.reverse" class="col-md-3 opaque">
            <h4 class="text-center">{{title.title}}</h4>
            <a ng-href="#/title/{{title.imdbID}}">
                <img ng-src="{{title.poster}}" class="image-responsive center-block" style="max-width:260px">
            </a>
        </div>
    </div>

    <pagination total-items="catalogVm.totalItems" ng-model="catalogVm.currentPage" class="pagination-sm" items-per-page="8"></pagination>

</div>