<div class="container" ng-controller="TitleController as titleVm">
    <div class="row page-header">
        <div class="col-md-6">
            <div class="text-left">
                <h1>Browse</h1>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dropdown pull-right" style="margin-top:25px">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Sort By
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="" ng-click="titleVm.sortOrder.by='year'; titleVm.sortOrder.reverse = !titleVm.sortOrder.reverse;">Year</a></li>
                    <li><a href="" ng-click="titleVm.sortOrder.by='rating'; titleVm.sortOrder.reverse = !titleVm.sortOrder.reverse;">Rating</a></li>
                    <li><a href="" ng-click="titleVm.sortOrder.by='votes'; titleVm.sortOrder.reverse = !titleVm.sortOrder.reverse;">Votes</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-group" style="margin-top:25px">
                <input type="text" class="form-control" placeholder="Search for..." ng-model="searchText">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>

    <div ng-repeat="chunk in titleVm.titles.slice(((titleVm.currentPage-1)*titleVm.itemsPerPage), ((titleVm.currentPage)*titleVm.itemsPerPage))" class="row">
        <div ng-repeat="title in chunk | filter:searchText | orderBy: titleVm.sortOrder.by: titleVm.sortOrder.reverse" class="col-md-3 opaque">
            <h4 class="text-center">{{title.title}}</h4>
            <a href="#/title/title.imdbID">
                <img ng-src="{{title.poster}}" class="image-responsive center-block" style="max-width:260px">
            </a>
        </div>
    </div>

    <pagination total-items="titleVm.totalItems" ng-model="titleVm.currentPage" class="pagination-sm" items-per-page="8"></pagination>

</div>