<!--<div class="footer navbar navbar-default navbar-fixed-bottom" ng-controller="FooterController as footerVm">
    <div class="container">
        <div class="navbar-text navbar-right">
            Copyright &copy; {{footerVm.date | date:'yyyy'}} Pravin Umamaheswaran
        </div>
    </div>
</div>-->

<footer>
    <div class="container" ng-controller="FooterController as footerVm">
        <p class="text-muted text-right">Copyright &copy; {{footerVm.date | date:'yyyy'}} Pravin Umamaheswaran</p>
    </div>
</footer>

