<div class="header">
    <div class="container">
        <div class="brand-logo">
        </div>
        <div ng-controller="LoginController as loginVm" class="header-login">
            <form ng-submit="loginVm.login()">
                <input type="text" class="form-control input-sm" placeholder="email" ng-model="loginVm.newUser.email">
                <input type="password" class="form-control input-sm" placeholder="password" ng-model="loginVm.newUser.password">
                <button type="submit" class="btn btn-primary btn-sm">Login</button>
            </form>
        </div>
    </div>
</div>