<div class="signup" ng-controller="SignUpController as signUpVm">
    <div class="container-fluid">


        <div class="alert alert-success alert-dismissible text-center" role="alert" ng-show="signUpVm.signUpSuccess">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            User Created. Please login.
        </div>

        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="well">
                    <form ng-submit="signUpVm.signUp()">
                        <fieldset class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" id="firstName" placeholder="John" ng-model="signUpVm.newUser.firstName">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" placeholder="Doe"ng-model="signUpVm.newUser.lastName">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" placeholder="johndoe@example.com" ng-model="signUpVm.newUser.email">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="********" ng-model="signUpVm.newUser.password">
                        </fieldset>
                        <button class="btn btn-default btn-primary btn-block">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>