<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-2">
            <div class="thumbnail">
                <img class="image-responsive image-rounded" src="images/grey-movie-poster.jpg" alt="..." style="max-height:200px">
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
            <div class="thumbnail">
                <img class="image-responsive image-rounded" src="images/grey-movie-poster.jpg" alt="..." style="max-height:200px">
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
            <div class="thumbnail">
                <img class="image-responsive image-rounded" src="images/grey-movie-poster.jpg" alt="..." style="max-height:200px">
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
            <div class="thumbnail">
                <img class="image-responsive image-rounded" src="images/grey-movie-poster.jpg" alt="..." style="max-height:200px">
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
            <div class="thumbnail">
                <img class="image-responsive image-rounded" src="images/grey-movie-poster.jpg" alt="..." style="max-height:200px">
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
            <div class="thumbnail">
                <img class="image-responsive image-rounded" src="images/grey-movie-poster.jpg" alt="..." style="max-height:200px">
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
            <div class="thumbnail">
                <img class="image-responsive image-rounded" src="images/grey-movie-poster.jpg" alt="..." style="max-height:200px">
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
            <div class="thumbnail">
                <img class="image-responsive image-rounded" src="images/grey-movie-poster.jpg" alt="..." style="max-height:200px">
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
            <div class="thumbnail">
                <img class="image-responsive image-rounded" src="images/grey-movie-poster.jpg" alt="..." style="max-height:200px">
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
            <div class="thumbnail">
                <img class="image-responsive image-rounded" src="images/grey-movie-poster.jpg" alt="..." style="max-height:200px">
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
            <div class="thumbnail">
                <img class="image-responsive image-rounded" src="images/grey-movie-poster.jpg" alt="..." style="max-height:200px">
            </div>
        </div><div class="col-xs-6 col-md-2">
        <div class="thumbnail">
            <img class="image-responsive image-rounded" src="images/grey-movie-poster.jpg" alt="..." style="max-height:200px">
        </div>
    </div>
        <div class="col-xs-6 col-md-2">
            <div class="thumbnail">
                <img class="image-responsive image-rounded" src="images/grey-movie-poster.jpg" alt="..." style="max-height:200px">
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
            <div class="thumbnail">
                <img class="image-responsive image-rounded" src="images/grey-movie-poster.jpg" alt="..." style="max-height:200px">
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
            <div class="thumbnail">
                <img class="image-responsive image-rounded" src="images/grey-movie-poster.jpg" alt="..." style="max-height:200px">
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
            <div class="thumbnail">
                <img class="image-responsive image-rounded" src="images/grey-movie-poster.jpg" alt="..." style="max-height:200px">
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
            <div class="thumbnail">
                <img class="image-responsive image-rounded" src="images/grey-movie-poster.jpg" alt="..." style="max-height:200px">
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
            <div class="thumbnail">
                <img class="image-responsive image-rounded" src="images/grey-movie-poster.jpg" alt="..." style="max-height:200px">
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
            <div class="thumbnail">
                <img class="image-responsive image-rounded" src="images/grey-movie-poster.jpg" alt="..." style="max-height:200px">
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
            <div class="thumbnail">
                <img class="image-responsive image-rounded" src="images/grey-movie-poster.jpg" alt="..." style="max-height:200px">
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
            <div class="thumbnail">
                <img class="image-responsive image-rounded" src="images/grey-movie-poster.jpg" alt="..." style="max-height:200px">
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
            <div class="thumbnail">
                <img class="image-responsive image-rounded" src="images/grey-movie-poster.jpg" alt="..." style="max-height:200px">
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
            <div class="thumbnail">
                <img class="image-responsive image-rounded" src="images/grey-movie-poster.jpg" alt="..." style="max-height:200px">
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
            <div class="thumbnail">
                <img class="image-responsive image-rounded" src="images/grey-movie-poster.jpg" alt="..." style="max-height:200px">
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
            <div class="thumbnail">
                <img class="image-responsive image-rounded" src="images/grey-movie-poster.jpg" alt="..." style="max-height:200px">
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
            <div class="thumbnail">
                <img class="image-responsive image-rounded" src="images/grey-movie-poster.jpg" alt="..." style="max-height:200px">
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
            <div class="thumbnail">
                <img class="image-responsive image-rounded" src="images/grey-movie-poster.jpg" alt="..." style="max-height:200px">
            </div>
        </div>

    </div>
</div>