.opaque img:hover {
    opacity:0.7;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#footer {
    position: absolute;
    bottom:0;
    height:60px;
    width:100%;
    background-color:#F5F5F5;
}

#footer p {
    margin: 20px 0;
}